

<table class="table table-bordered">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <th>{{file.filename}}</th>
                        <th>{{file.filesize_human}}</th>
                        <th>
                            <p class="text-center">
                                <label class="checkbox">
                                    <input type="checkbox"  size={{file.filesize_bytes}} value="{{file.filename}}" class="file_selector">
                                </label>
                            </p>

                        </th>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

