
<h2><span class="glyphicon glyphicon-folder-open"></span>{{current_folder}}</h1>
<table class="table table-bordered">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        {% if file.isfile %}
                            <td><span class="glyphicon glyphicon-file"></span>   {{file.filename}}</td>
                        {% else %}
                            <td><span class="glyphicon glyphicon-folder-close"></span>   {{file.filename}}</td>
                        {% endif %}
                        <td>{{file.filesize_human}}</td>
                        <td>
                            <p class="text-center">
                                <label class="checkbox">
                                    {% if file.isfile %}
                                        <input type="checkbox"  size={{file.filesize_bytes}} value="{{file.filename}}" class="{{selector_classes.file}}">
                                    {% else %}
                                         <input type="checkbox"  size={{file.filesize_bytes}} value="{{file.filename}}" class="{{selector_classes.folder}}">
                                    {% endif %}
                                </label>
                            </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>

<p class="muted" id="filesize">Total Size Selected: <span id="{{select_size_id}}">0</span></p>
<script>

    //Bindings

    $(".{{selector_classes.file}}").click( function(){
        if( $(this).is(':checked') ){

          select_file('{{side}}',$(this).attr('value'))

        } else {

          deselect_file('{{side}}',$(this).attr('value'))
        }
    });

     $(".{{selector_classes.folder}}").click( function(){

        if( $(this).is(':checked') ){
         set_folder('{{side}}',$(this).attr('value'))
        }

    });
</script>