

<div class="modal fade" id="file_system_info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="file_system_info_tile">Infos</h4>
      </div>
      <div class="modal-body" >
        <h2>Disk Usage</h2>

        <p id="InfoChart" class="text-center">
                <canvas id="DiskUsage" width="200" height="200"></canvas>
        </p>

        <h2>Selected Files</h2>

        <p id="InfoSelected">

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>


        var disk_usage_chart
        $('#file_system_info').on('shown.bs.modal', function () {

                   $.getJSON("/diskUsage",{side: "source"} //TODO use proper source
                    ,function(data,status){

                    var ctx = document.getElementById("DiskUsage").getContext("2d");

                    if(disk_usage_chart){
                        delete disk_usage_chart;
                    }

                    disk_usage_chart = new Chart(ctx).Pie(data,{
                                                                    animateScale: true
                                                                    });

                    $.get("/selectedFiles",{side: "source"} //TODO use proper source
                        ,function(data,status){

                        $("#InfoSelected").html(data);
                    });
                  });



            });

</script>
