
<div class="table-responsive">
    <table class="table table-bordered">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr class="info">
                        {% if file.isfile %}
                            <th><span class="glyphicon glyphicon-file"></span>   {{file.filename}}</th>
                        {% else %}
                            <th><span class="glyphicon glyphicon-folder-close"></span>   {{file.filename}}</th>
                        {% endif %}
                        <th>{{file.filesize_human}}</th>
                        <th>
                            <p class="text-center">
                                <label class="checkbox">
                                    <input type="checkbox"  size={{file.filesize_bytes}} value="{{file.filename}}" class="file_selector">
                                </label>
                            </p>

                        </th>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
</div>
<p class="muted" id="filesize">Total Size Selected: </p>

<script>
  $("#filesize").ready(function(){
  $(this).hide();
});
</script>
