
<br><br><br><br><br><br><br><br>
<div class="well">
    <div class="text-center">

        <br><br>

        <h2><i class="glyphicon glyphicon-thumbs-down"> Cannot display</i></h2>
        <br>

        <a data-toggle="collapse"  href="#details">
          Details
        </a>

        <div id="details" class="panel-collapse collapse">
            {{error_message}}
        </div>
        <br><br><br><br>

        <div class="btn-group">
            <button id="{{action.mount}}" class="btn btn-info btn-large"><i class="glyphicon glyphicon-hdd"></i> Mount</button>
            <button id="{{action.refresh}}" class="btn btn-info btn-large"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
        </div>
    </div>
</div>


<script>
  $("#{{action.mount}}").click(function () {
    alert("mounting");
    mount_file_system('{{side}}')
  });
</script>
