

<table class="table table-bordered">
            <thead>
                <tr>
                    <th>File</th>
                    <th>Size</th>
                    <th>Select</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                    <tr>
                        <th>{{file.filename}}</th>
                        <th>{{file.filesize_human}}</th>
                        <th>
                            <p class="text-center">
                                <label class="checkbox">
                                    <input type="checkbox"  value="{{file.filename}}" class="file_selector">
                                </label>
                            </p>

                        </th>
                    </tr>
                {% endfor %}
            </tbody>
          </table>


<script>
    var selected_files = new Array();
    $(".file_selector").click( function(){
        if( $(this).is(':checked') ){
         selected_files[selected_files.length] = $(this).attr('value')
         alert(selected_files.toString());
        }
        else {
         selected_files[selected_files.length] = $(this).attr('value')
         alert('not');
        }
    });
 </script>