<!DOCTYPE html>
<html>
  <head>
    <title> RaspCopy </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

     <div class="row-fluid">
       <div class="span6">
          <h1><p class="text-center">RaspBerry</p></h1>
          {% include 'filelist.html' %}
       </div>
       <div class="span6">
        <h1><p class="text-center">Key</p></h1>
       </div>

     </div>
  </body>
</html>

<script>
    var total_size = 0
    var selected_files = new Array();
    $(".file_selector").click( function(){
        if( $(this).is(':checked') ){
         selected_files[selected_files.length] = $(this).attr('value')
         total_size += parseInt($(this).attr('size'))
         // alert(selected_files.toString());
        }
        else {
         var index_to_remove = selected_files.indexOf($(this).attr('value'))
         selected_files.splice(index_to_remove,1);
         total_size -= parseInt($(this).attr('size'))
         //  alert(selected_files.toString());
        }
    });

     $(".folder_selector").click( function(){
        if( $(this).is(':checked') ){
         set_folder('source',$(this).attr('value'))
        }

    });

    $( document ).ready( function(){
        set_folder('source','root')
    });


    function set_folder(side,folder)
    {
        //alert(side+folder);
        $("#file_table").load('/open_folder',{side: side, folder: folder});
    }
 </script>