<!DOCTYPE html>
<html>
  <head>
    <title> RaspCopy </title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div class="container-fluid">
     <div class="row">
       <div class="col-md-6">
            <h1><p class="text-center">RaspBerry</p></h1>
            <div class="table-responsive">
                 <div id="source_file_table">

                 </div>
            </div>
       </div>
       <div class="col-md-6">
            <h1><p class="text-center">Key</p></h1>
            <div class="table-responsive">
                    <div id="destination_file_table">

                    </div>
            </div>
       </div>

     </div>

      <div class="col-md-12">
          <p id="status">status</p>
      </div>
      <div class="col-md-12">
     <div class="btn-group" role="group">
            <button id=copy class="btn btn-info btn-large"><i class="glyphicon glyphicon-chevron-right"></i> Copy</button>
     </div>
      </div>
      </div>
  </body>
</html>

<script>

    var gStatusRefreshPeriodMs = 1000;

    $( document ).ready( function(){
        set_folder('source','home')
        set_folder('destination','home')
    });

    function refresh(){
        set_folder('source','')
        set_folder('destination','')
    }

    function set_folder(side,folder){

        $("#"+side+"_file_table").load('/open_folder',{side: side, folder: folder});
    }

    function select_file(side,file_name){

        $("#selected_size_id_"+side).load('/select_file',{side: side, file_name: file_name});

        //alert($("#selected_size_id_"+side).text())
    }

    function deselect_file(side,file_name){

        $("#selected_size_id_"+side).load('/deselect_file',{side: side, file_name: file_name});

    }

    function mount_file_system(side){

      $.post("/mount",
      {
        side: side
      },function(data,status){
        //alert("mounting");
      });

    }

     $("#copy").click( function(){

      $.post("/copy",{},function(){setTimeout('update_copy_status()', gStatusRefreshPeriodMs);});



    });

    var toto = 1;

    function update_copy_status()
    {

        $.getJSON("/copy_status",function(result){

            if(!result.complete){
                $("#status").text(result.copy_status + "  " + result.file_percent + "  " + result.overall_percent);
                setTimeout('update_copy_status()', gStatusRefreshPeriodMs);
            }
            else {
                $("#status").text("complete")
                refresh()
            }
        })

    }

 </script>